virtualshop-back/.vscode/*
virtualshop-back/.vscode
virtualshop-back/bin/*
virtualshop-back/obj/*
virtualshop-back/bin
virtualshop-back/obj

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
virtualshop-front/node_modules/*
virtualshop-front/node_modules
virtualshop-front/.pnp
virtualshop-front.pnp.js

# testing
virtualshop-front/coverage

# production
virtualshop-front/build

# misc
virtualshop-front.DS_Store
virtualshop-front.env.local
virtualshop-front.env.development.local
virtualshop-front.env.test.local
virtualshop-front.env.production.local

virtualshop-frontnpm-debug.log*
virtualshop-frontyarn-debug.log*
virtualshop-frontyarn-error.log*